@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");
:root {
  --text-size: 16px;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.head_bar {
  background-color: #383c3e;
  display: flex;
  justify-content: flex-end;
}

.icon_bar {
  display: inline-flex;
}

.social-icons {
  padding: 10px 10px;
}

.searchbtn {
  margin-top: 6px;
  background-color: white;
  height: 30px;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  padding: 0;
  margin-right: 0;
  border-right: 0;
}

.searchbtn .bi-search {
  padding: 0 0 1px 2px;
}

.search {
  margin-top: 6px;
  height: 30px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-left: 0;
}

/* NavBar Styles */
.height {
  height: 50px;
}
.sticky {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

nav {
  border-bottom: 2px solid #383c3e;
  background-color: #ba8151;
}

.navigation {
  display: flex;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-item:hover .nav-link {
  transition: 0.5s;
  text-decoration: underline green;
}
.dropdown-menu .dropdown-toggle:after {
  border-top: 0.3em solid transparent;
  border-right: 0;
  border-bottom: 0.3em solid transparent;
  border-left: 0.3em solid;
}
.dropdown-menu .dropdown-menu {
  margin-left: 0;
  margin-right: 0;
}
.dropdown-menu li {
  position: relative;
}
.nav-item .submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}
.nav-item .submenu-left {
  right: 100%;
  left: auto;
}
.dropdown-menu > li:hover {
  background-color: #f1f1f1;
}
.dropdown-menu > li:hover > .submenu {
  display: block;
}

/* swiper styles  */

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  height: 100vh;
  text-align: center;
  font-size: 18px;
  /* color: #000; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Body Styles */

.contentDiv {
  padding: 40px;
}
.divContent img {
  float: right;
  max-width: 300px;
  padding: 15px;
}
.contentCard {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}

.divTitle h1,
h3 {
  font-family: "Salsa", sans-serif;
  font-size: 25px;
  text-decoration: underline;
  text-decoration-style: dotted;
}
.divTitle h3 {
  font-size: 18px;
}

.col-lg-12 h1 {
  text-align: center;
}

.imgDiv {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.imgDiv img {
  width: 250px;
}

.cardContentDiv {
  padding: 10px;
  text-align: left;
}

.footer {
  padding-top: 30px;
  background-color: #966840;
}

.footerImg {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* gallery   */
.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 25%;
  padding: 0;
}

.column img {
  padding: 1px;
  width: 100%;
  vertical-align: middle;
}

/* Contact Us */
strong {
  color: #014407;
}
