@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");
:root {
  --text-size: 16px;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.head_bar {
  background-color: #383c3e;
  display: flex;
  justify-content: flex-end;
}

.icon_bar {
  display: inline-flex;
}

.social-icons {
  padding: 10px 10px;
}

.searchbtn {
  margin-top: 6px;
  background-color: white;
  height: 30px;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  padding: 0;
  margin-right: 0;
  border-right: 0;
}

.searchbtn .bi-search {
  padding: 0 0 1px 2px;
}

.search {
  margin-top: 6px;
  height: 30px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-left: 0;
}

/* NavBar Styles */
.height {
  height: 50px;
}
.sticky {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

nav {
  border-bottom: 2px solid #383c3e;
  background-color: #ba8151;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-item:hover .nav-link {
  transition: 0.5s;
  text-decoration: underline green;
}
.dropdown-menu .dropdown-toggle:after {
  border-top: 0.3em solid;
  border-right: 0;
  border-bottom: 0.3em solid;
  border-left: 0.3em solid;
}
.dropdown-menu .dropdown-menu {
  margin-left: 0;
  margin-right: 0;
}
.dropdown-menu li {
  position: relative;
}
.nav-item .submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}
.nav-item .submenu-left {
  right: 100%;
  left: auto;
}
.dropdown-menu > li:hover {
  background-color: #f1f1f1;
}
.dropdown-menu > li:hover > .submenu {
  display: block;
}

/* swiper styles  */

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  height: 100vh;
  text-align: center;
  font-size: 18px;
  /* color: #000; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Body Styles */

.contentDiv {
  padding: 40px;
}
.divContent img {
  float: right;
  max-width: 300px;
  padding: 15px;
}
.contentCard {
  padding: 30px 5px;
  display: flex;
  flex-wrap: wrap;
}

.divTitle h1,
h3 {
  font-family: "Salsa", sans-serif;
  font-size: 23px;
  text-decoration: underline;
  text-decoration-style: dotted;
}
.divTitle h3 {
  font-size: 18px;
}

.col-lg-12 h1 {
  text-align: center;
}

.imgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.imgDiv img {
  margin-top: 20px;
  max-width: 210px;
  height: 200px;
  border-radius: 50%;
}

.cardContentDiv {
  padding: 10px;
  text-align: left;
}

.footer {
  padding-top: 30px;
  background-color: #966840;
}

.footerImg {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* About Us */
.aboutustxt {
  padding: 100px;
}
.team h1 {
  margin: 100px;
}

/* gallery   */
.gallery_container {
  padding-top: 90px;
}
.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 25%;
  padding: 0;
}

.column img {
  padding: 1px;
  width: 100%;
  vertical-align: middle;
}

/* Contact Us */
strong {
  color: #014407;
}

/* booking */
.bookindiv h2 {
  font-size: 30px;
  font-family: cursive;
}

.bookindiv p {
  font-family: serif;
}

/* Safaris */

.intro {
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #111;
  min-height: 600px;
  padding: 0;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  background-attachment: fixed;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 2;
  background: #111;
  opacity: 0.4;
}

.content {
  position: relative;
  width: 100%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 10;
}

.intro p,
.intro h1 {
  text-align: center;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.intro h1,
h4 {
  text-transform: uppercase;
}

.projects-section {
  padding: 5rem 0;
}
.projects-section .featured-text {
  padding: 2rem;
}
@media (min-width: 992px) {
  .projects-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #ba8151;
  }
}
.projects-section .project-text {
  padding: 3rem;
  font-size: 90%;
}
@media (min-width: 992px) {
  .projects-section .project-text {
    padding: 40px;
  }
  .projects-section .project-text hr {
    border-color: #ba8151;
    border-width: 0.25rem;
    width: 30%;
  }
}

.dayImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dayImg img {
  width: 100%;
  padding: 20px 0;
}

.dayContent {
  padding: 30px 0;
}

/* MOBILE VIEWS */
@media (max-width: 800px) {
  /* Gallery */
  .column {
    flex: 50%;
  }
  /* About us */
  .team h1 {
    margin: 20px;
  }
  .safaribookings {
    float: none;
    padding: 30px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  /* Gallery */
  .gallery_container {
    padding-top: 115px;
    margin: 0 10px;
  }
  .column {
    flex: 100%;
  }
  /* About us */
  .team h1 {
    margin: 20px;
  }
  .aboutustxt {
    padding: 100px 20px;
    font-size: 40px;
  }
}

@media (max-width: 474px) {
  /* Gallery */
  .gallery_container {
    padding-top: 115px;
    margin: 0 10px;
  }
  /* About us */
  .team h1 {
    margin: 20px;
  }
  .aboutustxt {
    padding: 100px 20px;
    font-size: 40px;
  }
}
